/* Orders.css */

.order-item {
    width: 87%;
    margin-left: 2.7vw;
    margin-bottom: 1vh;
    border-radius: 10px;
}

.card-of-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
}

.buttons-of-accept{
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    margin: 1vh 50px;
}

.buttons-of-price{
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
}

.acception{
    margin: 4%;
    margin-top: 0;
}

.order-details {
    flex-grow: 1;
}

.order-item-detail {
    margin-bottom: 5px;
}

.card-text {
    font-size: 16px;
    color: #333;
}

.user-name2 {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    text-align: right;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .order-item {
        width: 95%;
        margin-left: 2.5vw;
    }

    .card-text {
        font-size: 14px;
    }

    .user-name {
        font-size: 16px;
    }
}
