.orders-page {
    display: flex;
    padding: 20px;
}

.order-requests {
    width: 55%;
    display: flex;
    flex-direction: column;
    max-height: 83vh;
}

.order-requests h4 {
    margin: 7vh 0 0 5vw;
}

#line {
    margin-left: 5vw;
    margin-right: 5vw;
}

#line2{
    margin-right: 3vw;
}

.order-list {
    overflow-y: auto;  
    margin-top: 10px;  
    flex-grow: 1;  
}

.accepted-list {
    overflow-y: auto;  
    margin-top: 10px;  
    flex-grow: 1;  
}

.order-item {
    margin-bottom: 20px;  
}

.accepted-item {
    margin-bottom: 20px;  
}

.requests-accepted {
    width: 45%;
    display: flex;
    flex-direction: column;
    max-height: 83vh;
}

.requests-accepted h4{
    margin: 7vh 0 0 0;
}
