.items{
    display: flex;
    align-items: center;
}

.navbar{
    background-color: rgb(254, 241, 216);
}

.navbar-logo{
    height: 50px;
    width: 50px;
    margin-left: 20px;
}

.heading{
    margin-left: 20px;
    font-size: 2rem;
    font-weight: 600;
}

.navbar-collapse {
    display: flex;
    justify-content: space-between; /* Or adjust as needed */
}

#profile-icon{
    height: 35px;
    width: 35px;
}


.cart-icon {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 1rem;
    color: black;
}

.cart-icon-pic {
    width: 24px;
    height: 24px;
}

.cart-icon-count {
    color: blue; 
    font-weight: bold;
    position: absolute;
    right: -10px;
    top: -5px; 
    font-size: 0.75rem; 
    padding: 2px 4px;
    background-color: rgb(122, 222, 122);
    border-radius: 50%;
}



@media (min-width: 469px) {
    .navbar-toggler {
        display: none;
    }

    .navbar-collapse {
        display: flex !important;
    }
}

@media (max-width: 468px) {
    .navbar-collapse {
        display: none;
    }

    .navbar-collapse.show {
        display: block !important;
    }
}
