.first-heading{
    margin-top: 40px;
}
.shop-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop-wrapper {
    overflow: hidden;
    width: 90%;
    max-width: 100%;
}

.shop-slider {
    display: flex;
    transition: transform 0.5s ease;
}

.shop-card-wrapper {
    flex: 1 0 33.3333%; /* Show 3 items per view */
    max-width: 33.3333%;
    box-sizing: border-box;
    padding: 10px;
}

.carousel-button {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    margin: 0 10px;
}

.carousel-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}


@media (min-width: 600px) {
    .shop-card-wrapper {
        flex: 1 0 50%;
        max-width: 50%;
    }

    .carousel-button {
        display: inline-block; /* Show buttons in tablet view */
    }
}

/* Laptop/Desktop view: 3 items per view */
@media (min-width: 900px) {
    .shop-card-wrapper {
        flex: 1 0 33.3333%;
        max-width: 33.3333%;
    }
}

@media (max-width: 600px) {
    .shop-card-wrapper {
        flex: 1 0 50%;
        max-width: 100%;
    }
}