.second-heading{
    margin-top: 40px;
}

.category-slider {
    display: flex;
    transition: transform 0.5s ease;
}

.category-wrapper {
    overflow: hidden;
    width: 90%;
    max-width: 100%;
}

.category-card-wrapper {
    flex: 1 0 25%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 35px;
}
