
.quantity-controls {
    display: inline-flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;
}

.buttonshere{
    color: rgb(120, 77, 198);
}

.cart-item:last-child {
    border-bottom: none;
}

.cart-item-info {
    display: flex;
    align-items: center;
}

.cart-item-actions {
    display: flex;
    align-items: center;
}

.cart-item-name {
    flex-grow: 1;
    font-size: 1em;
    font-weight: 500;
    margin-right: 20px;
}

.cart-item-price {
    font-size: 1em;
    font-weight: bold;
    color: #333;
    margin-left: 20px;
}

.vegimagecart {
    height: 20px;
    width: 20px;
    margin-right: 2px;
}

@media (max-width: 600px) {
    .quantity-btn, .quantity-input {
        width: 24px;
        height: 24px;
        font-size: 14px;
    }

    .quantity-input {
        width: 40px;
    }

    .cart-item-name {
        margin-right: 10px;
    }
}
