.modal-dialog {
    max-width: 500px;
    margin: 30px auto;
  }
  
  .modal-content {
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  }
  
  .modal-header {
    background-color: #5c5e61;
    color: white;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
  }
  
  .modal-header .close {
    color: white;
  }
  
  .boxes{
    display: flex;
  }

  .modal-title {
    font-weight: bold;
  }
  
  .modal-body {
    padding: 2rem;
  }
  
  .form-control {
    margin-bottom: 1rem;
  }
  
  .btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 25px;
    padding: 0.5rem 2rem;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .close {
    cursor: pointer;
    background: transparent;
    border: none;
  }
  